In [7]:
!pip3 install yfinance

Requirement already satisfied: yfinance in /home/sharif/anaconda3/lib/python3.8/site-packages (0.1.55)
Requirement already satisfied: lxml>=4.5.1 in /home/sharif/anaconda3/lib/python3.8/site-packages (from yfinance) (4.5.2)
Requirement already satisfied: multitasking>=0.0.7 in /home/sharif/anaconda3/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /home/sharif/anaconda3/lib/python3.8/site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /home/sharif/.local/lib/python3.8/site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in /home/sharif/anaconda3/lib/python3.8/site-packages (from yfinance) (2.24.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/sharif/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/sharif/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /home/sharif/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/sharif/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/sharif/.local/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/sharif/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /home/sharif/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)

In [8]:
import yfinance as yf

In [119]:
msci_world = "EUNL.DE"
msci_eu = "EUNK.DE"
dax = "EXS1.DE"
gold = "SGBS.MI"
silver = "PHAG.MI"

In [128]:
yf.Ticker(msci_world).history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-10-20,17.209999,17.209999,17.209999,17.209999,0,0,0
2009-10-21,17.280001,17.280001,17.200001,17.250000,200,0,0
2009-10-22,17.010000,17.010000,17.010000,17.010000,0,0,0
2009-10-23,17.080000,17.080000,16.940001,16.940001,50,0,0
2009-10-26,17.000000,17.000000,16.840000,16.840000,100,0,0
...,...,...,...,...,...,...,...
2020-10-30,53.174000,53.862000,52.962002,53.459999,324780,0,0
2020-11-06,56.556000,56.700001,56.000000,56.487999,197001,0,0
2020-11-13,57.866001,58.124001,57.782001,57.972000,343335,0,0
2020-11-20,58.250000,58.582001,58.216000,58.534000,298650,0,0
2020-11-24,59.062000,59.299999,58.902000,59.299999,215537,0,0

In [109]:
def p_from_lowest(low, now): return round(((now-low)/low)*100,2)

In [110]:
def parse(ticker):
    info = yf.Ticker(ticker).info
    return info['regularMarketPrice'], info['fiftyTwoWeekLow'], info['fiftyTwoWeekHigh']

## MSCI World

In [111]:
now, low, high = parse(msci_world)
now, low, high

(59.062, 40.611, 60.572)

In [112]:
p_from_lowest(low, now)

45.43

## MSCI EU

In [113]:
now, low, high = parse(msci_eu)
now, low, high

(53.59, 37.4, 58.59)

In [114]:
p_from_lowest(low, now)

43.29

## DAX

In [120]:
now, low, high = parse(dax)
now, low, high

(112.9, 70.6, 118.06)

In [121]:
p_from_lowest(low, now)

59.92

## Gold

In [115]:
now, low, high = parse(gold)
now, low, high

(148.85, 126.94, 168.46)

In [116]:
p_from_lowest(low, now)

17.26

## Silver

In [117]:
now, low, high = parse(silver)
now, low, high

(18.48, 10.024, 23.395)

In [118]:
p_from_lowest(low, now)

84.36